.jumbotron {
  text-align: center;
  margin-top: 10px;
  background-color: #cfabf5;
}

.row {
  margin: 10px;
}

#leftSideBox {
  background-color: #acf2da;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#rightSideBox {
  background-color: #e0e0e0;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#result {
  display: none;
}

#result #wrongInput {
  display: none;
  color: red;
  text-align: center;
}

img {
  width: auto;
  height: 50px;
  border-radius: 7px;
}

label {
  margin-right: 7px;
}

form {
  margin-bottom: 7px;
}
